{
    frankenphp
    order php_server before file_server
}

:80 {
    log {
        level INFO
    }

    # Compress responses
    encode zstd gzip

    # Handle Symfony public directory
    root * public/
    php_server
}
